@charset'utf-8'

    *{
        padding:0px;
        margin:0px;
}

body {
    height:100vh;
}


header{
    display:flex;
    height:60px;
    margin-bottom: 20px;
}

.logo {
    background-color: grey;
    height:100%;
    width:30%;
    margin-right: 500px;
}

.header-ad {
    background-color: orange;
    height:100%;
    width:70%;
    
}

nav{
    background-color: grey;
    
    height:30px;
    margin-bottom:20px;
}

.container-parent{
    height:700px;
    background-color: white;
    margin-bottom: 20px;
    display:flex;
}

.container-left{
    height:100%;
    width:50%;
    background-color: white;    
    margin-right: 20px;
    display:flex;
    flex-flow:column;
}

.container.middle{
    height:100%;
    width:25%;
    background-color: white;
    margin-right: 20px;
    display:flex;
    flex-flow:column;
}

.container-right{
    height:100%;
    width:25%;
    background-color: right;
    flex-flow: column;
}

.item-left:nth-child(-n+2){
    height:25%;
    width:100%;
    margin-bottom:20px;
    background-color: grey;
}

.item-left:nth-child(3){
    height:50%;
    width:100%;
    margin-bottom:20px;
    background-color: grey;
}

.item-middle:nth-child(1){
    height:35%;
    width:100%;
    margin-bottom:20px;
    background-color: grey;
}

.item-middle:nth-child(2){
    height:65%;
    width:100%;
    background-color: grey;
}

.item-right:nth-child(1){
    height:25%;
    width:100%;
    margin-bottom: 20px;
    background-color: grey;
}

.item-right:nth-child(2){
    height:45%;
    width:100%;
    margin-bottom:20px;
    background-color: grey;
}

.item-right:nth-child(3){
    height:30%;
    width:100%;
    background-color: grey;
    

}

footer {
    background-color: blue;
    height:115px;
    width:100%;
    position: fixed;
    bottom:0;
}

