::selection {
    background-color: darkolivegreen;
}

body{
    background-color: #3c40c6;
    margin: 0px;
}
section#wrapper {
   display: block;
    width: 300px;  
    height: auto px;
    
    background-color:yellow;
    border: 1px solid #000;
}

section#wrapper p{
    color: black;
    border: 1px solid black;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
}

section.standard-section{
    width: 200px;
    height: 200px;
    
    background-color: green;
    margin: 5px;
    box-shadow: 7px 7px 0px #000
    
}


section.standard-section img {
    display:inline;
    
}