body{
font: 15px/1.5 "arial,helvetica,sans-serif";
padding:0;
margin:0;
 background:#35424a

}


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    
}
ul{
    margin:0;
    padding:0;
}

header{

 background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1488cc, #2b32b2);; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:black
padding-top:30px;
min-height: 70px;
}

header a {
  color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}
   
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;    
}

header #branding{
    float:left;
}

header #branding h1{
    margin:none;
}

header nav {
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:black;
    font-weight: bold;
}