@charset 'utf-8';

    body{
        background-color: #3c40c6;
        
}

h1{
    display:flex;
    align-items:center;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 320px;

    width:70vw;
    min-height:80vh;
    
    margin:auto;
    grid-gap:10px
        
    
}

.grid-item{
    border: solid 2px;
    background-position: center;
    transition:
}