@charset 'utf-8';

    body{
        background-color: #3c40c6;
        
}

h1{
    display:flex;
    align-items:center;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 320px;

    width:70vw;
    min-height:80vh;
    
    margin:auto;
    grid-gap:10px
        
    
}

.grid-item{
    border: solid 2px;
    background-position: center;
    transition: transform 0.2s;
}

.grid-item:hover{
    transform: scale(1.3)
}

.grid-item:nth-child(1){
background-image: url(../assets/img/a%20moutain%20lake.jpg);
background-size:cover;
}

.grid-item:nth-child(2){
    background-image:url(../assets/img/a%20nice%20view.jpg);
    background-size:cover;
}

.grid-item:nth-child(3){
    background-image:url(../assets/img/black%20beach.jpg);
    background-size:cover;
    
}
.grid-item:nth-child(4){
    background-image:url(../assets/img/black%20mountains.jpg);
    background-size:cover;
}

.grid-item:nth-child(5){
    background-image:url(../assets/img/djungel.jpg);
    background-size:cover;
}

.grid-item:nth-child(6){
    background-image:url(../assets/img/slopes%20and%20wallys.jpg);
    background-size:cover;
}

.grid-item:nth-child(7){
    background-image:url(../assets/img/snowy%20moutains.jpg);
    background-size:cover;
}
.grid-item:nth-child(8){
    background-image:url(../assets/img/stream.jpg);
    background-size:cover;
}
.grid-item:nth-child(9){
    background-image:url(../assets/img/tall%20snowy%20moutain.jpg);
    background-size:cover;
}