@charset utf-8;

body{
    background-color: #fbc531;
}

grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 200px;
   
    width:80vw;
    height:90vh;
    margin: auto;
    
    border:1px solid #ffff;
}
grid-item:nth-child(odd){
    background-color: #192a56;
}
grid-item:nth-child(even){
    background-color: #805F1A;
}