@charset 'utf-8';



*{
    padding:0px;
    margin:0px;
}

body{
    height:100vh;
}

header{
    background-color: aqua;
    
    height: 100px;
}

nav {
    background-color: red;
    
    height:30px;
    margin-top:15px;
    margin-bottom:15px;
}

.container-parent {
    display:flex;
    height:765px;
}

.container-left{
    background-color: white;
        
    width:70%;
    margin-right:20px;
    display:flex;
    flex-flow:column;
}

container-right{
    background-color: white;
    
    width: 30%;
}

.item-left{
    background-color:aqua;
    flex:1;
    
    
}